* {
  margin: 0;
  padding: 0;
}
#main{
  width: 80%;
  height: 800px;
  margin: 0 auto;
  padding: 0 15%;
}
h4{
  margin-bottom: 10px;
}
.path-views{
  width: 88%;
}
.btns{
  font-size: 12px;
  border: 1px solid #999;
  cursor: pointer;
  padding: 2px 2px 1px;
}
.control{
  margin: 10px 0;
}
#watcher{
  outline-color: skyblue;
  resize: none;
  height: 100px;
  width: 91.4%;
}
#run-area{
  padding-right: 8.4%;
}
#run-area:after{
  display: block;
  clear: both;
  content: '';
}
.btns-core{
  font-size: 18px;
  float: right;
  margin-left: 10px;
  padding: 5px 8px;
}
#run-area > p ~ span{
  background: red;
  color: #fff;
}
#run-area > span:nth-child(3){
  background: green;
}
/* #run-area > p + span */